.task-card{

    background:white;

    border-radius:18px;

    padding:24px;

    margin-bottom:25px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.3s;

    width: 85%;

}

.task-card:hover{

    transform:translateY(-4px);

}

.task-header{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

}

.task-header h2{

    margin-bottom:8px;

}

.task-header p{

    color:#666;

}

.priority{

    padding:6px 14px;

    border-radius:20px;

    color:white;

    font-size:14px;

    font-weight:600;

}

.high{

    background:#ef4444;

}

.medium{

    background:#f59e0b;

}

.low{

    background:#10b981;

}

.task-meta{

    margin-top:20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.task-meta div{

    display:flex;

    align-items:center;

    gap:10px;

    color:#666;

}

.status{

    padding:6px 14px;

    border-radius:20px;

    background:#3b82f6;

    color:white;

}

.task-actions{

    margin-top:25px;

    display:flex;

    gap:12px;

}

.task-actions button{

    border:none;

    padding:10px 16px;

    border-radius:10px;

    cursor:pointer;

    display:flex;

    gap:8px;

    align-items:center;

    font-weight:600;

}

.edit-btn{

    background:#2563eb;

    color:white;

}

.delete-btn{

    background:#ef4444;

    color:white;

}

.complete-btn{

    background:#10b981;

    color:white;

}

.complete-btn:disabled{

    background:#94a3b8;

    cursor:not-allowed;

}